.home-page {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
  
.kana-options {
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin-top: 20px;
}

.kana-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-kana-section {
  margin-top: 30px;
}

.option {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: rgb(20, 90, 80);
  color: rgb(200, 200, 200);
  text-decoration: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  font-size: 18px;
}

.option:hover {
  background-color: rgb(30, 180, 160);
  color: rgb(255, 255, 255);
}

.visit-record-home {
   position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: rgb(30, 180, 160);
}
