#kana-training-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #aaa;
}

#kana {
  color: #eee;
  font-size: 100px;
  font-weight: bold;
  margin: 0px;
  font-family: 'Noto Sans JP';
}

.btn {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  background-color: rgb(20, 90, 80);
  color: rgb(200, 200, 200);
  border: none;
}

.btn:hover {
  background-color: rgb(30, 180, 160);
  color: rgb(255, 255, 255);
}

#answer {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

#answer:focus {
  outline: none;
  border-color: rgb(30, 180, 160);
  box-shadow: 0 0 5px rgb(30, 180, 160);
}

.submit-btn {
  display: none;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .submit-btn {
    display: inline-block;
  }
  #error-msg {
    font-size: 18px;
  }
}

#error-msg {
  font-size: 24px;
  font-style: italic;
  color: #c71111;
  text-align: center;
  display: block;
}

.visit-record-kana {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #18e9df;
}

.audio-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #84281a;
}

.audio-btn:hover {
  color: rgb(200, 60, 50);
}
