#kana-training-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #aaa;
}

#kana {
  color: #eee;
  font-size: 100px;
  font-weight: bold;
  margin: 0px;
}

.btn {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
}

#answer {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

#answer:focus {
  outline: none;
  border-color: rgb(30, 180, 160);
  box-shadow: 0 0 5px rgb(30, 180, 160);
}

#error-msg {
  font-size: 36px;
  font-style: italic;
  color: #c71111;
}

.visit-record-kana {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #18e9df;
}
